VITE_APP_NAME=yapping
VITE_APP_URL=https://yapping.my.id
VITE_APP_LOGO=/images/logo.png
VITE_APP_WORDMARK_DARK=/images/wordmark-dark.png
VITE_APP_WORDMARK_LIGHT=/images/wordmark-light.png
VITE_APP_DESCRIPTION="Yapping - curhat anonim, anti-somasi. Platform percakapan bebas sensor berbasis Nostr."
VITE_CLIENT_NAME=yapping
VITE_CLIENT_ID=31990:placeholder:yapping
VITE_LIGHT_THEME="accent:#ee113d,neutral-100:#eedfde,neutral-200:#e7bcbb,neutral-300:#ae8787,neutral-400:#8e6e6e,neutral-500:#5d3f3f,neutral-600:#3b3332,neutral-700:#302828,neutral-800:#211a1a,neutral-900:#191212,neutral-50:#eedfde,neutral-950:#0a0505,success:#12D2B0,tinted-100:#eedfde,tinted-200:#e7bcbb,tinted-400:#5d3f3f,tinted-500:#8e6e6e,tinted-600:#150808,tinted-700:#211a1a,tinted-800:#0a0505,warning:#FCAB0E,danger:#dc0c0c"
VITE_DARK_THEME="accent:#ee113d,neutral-100:#eedfde,neutral-200:#e7bcbb,neutral-300:#ae8787,neutral-400:#8e6e6e,neutral-500:#5d3f3f,neutral-600:#3b3332,neutral-700:#302828,neutral-800:#211a1a,neutral-900:#191212,neutral-50:#eedfde,neutral-950:#0a0505,success:#12D2B0,tinted-100:#eedfde,tinted-200:#e7bcbb,tinted-400:#5d3f3f,tinted-500:#8e6e6e,tinted-600:#150808,tinted-700:#211a1a,tinted-800:#0a0505,warning:#FCAB0E,danger:#dc0c0c"
VITE_DEFAULT_RELAYS=wss://relay.yapping.my.id,wss://relay.damus.io,wss://nos.lol
VITE_SEARCH_RELAYS=wss://relay.damus.io,wss://search.nos.today
VITE_SIGNER_RELAYS=wss://relay.nsec.app,wss://ephemeral.snowflake.cc
VITE_DVM_RELAYS=wss://relay.nsec.app,wss://ephemeral.snowflake.cc
VITE_INDEXER_RELAYS=wss://relay.damus.io,wss://purplepag.es
VITE_ENABLE_ZAPS=true
VITE_LOG_LEVEL=info
VITE_ENABLE_MARKET=false
VITE_BLUR_CONTENT=false